[submodule "External/Il2CppInterop"]
	path = External/Il2CppInterop
	url = https://github.com/ModPVZRH/Il2CppInterop.git
[submodule "External/MonoMod"]
	path = External/MonoMod
	url = https://github.com/ModPVZRH/MonoMod.git
